@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DADFE8;
    font-family: "Lexend", sans-serif;
    min-height: 100vh;
}

main {
    display: flex;
    gap: 30px;
    padding: 30px;
}